.work {
  margin-bottom: 94px;
  &__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__img {
    margin-top: 50px;
    transform: scale(1, 1);
    &:hover {
      transform: scale(1.1, 1.1);
      transition: 0.9s all;
    }
  }
}
